In [256]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import re
%matplotlib inline

In [257]:
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

In [258]:
mum_df = pd.read_csv('mumbai.csv')

In [259]:
del_df = pd.read_csv('delhi.csv')

In [260]:
met_df = pd.concat([mum_df, del_df],ignore_index=  True)

In [261]:
met_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15440 entries, 0 to 15439
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   address                15440 non-null  object
 1   area                   15440 non-null  object
 2   book_table             15440 non-null  int64
 3   can_order_via_zomato   15440 non-null  object
 4   cost_for_two           15437 non-null  object
 5   cuisine                15440 non-null  object
 6   delivery_reviews       9525 non-null   object
 7   dining_reviews         8305 non-null   float64
 8   discount               2039 non-null   float64
 9   featured_in            801 non-null    object
 10  has_menu_available     15440 non-null  int64
 11  location               0 non-null      float64
 12  min_amnt_for_discount  0 non-null      float64
 13  rating                 12093 non-null  object
 14  res_link               15440 non-null  object
 15  rest_name              15440 non-null  object
 16  rest_type              15440 non-null  object
 17  review_rating          13461 non-null  object
 18  reviews                7306 non-null   object
dtypes: float64(4), int64(2), object(13)
memory usage: 2.2+ MB

In [262]:
def clean_cost(cost):
    cost_tem = ''
    tem = re.findall("\\d+", cost)
    return cost_tem.join(tem)

In [263]:
met_df['cost_for_two'] = met_df['cost_for_two'].astype(str)
met_df['cost_for_two'] = met_df['cost_for_two'].apply(lambda x: x.replace(",",""))
met_df['cost_for_two'] = met_df['cost_for_two'].apply(clean_cost)

In [264]:
def toFloat(cost):
    try:
        return float(cost)
    except ValueError:
        return 0

In [265]:
met_df['cost_for_two'] = met_df['cost_for_two'].apply(lambda x: toFloat(x))

In [266]:
met_df['delivery_reviews'] = met_df['delivery_reviews'].astype(str)
met_df['delivery_reviews'] = met_df['delivery_reviews'].apply(lambda x: x.replace(",", ""))

In [267]:
met_df['delivery_reviews'] = met_df['delivery_reviews'].astype(float)

In [268]:
met_df['rating'] = met_df.loc[:,'rating'].apply(lambda x: str(x).split(","))

In [269]:
met_df['dining_rating'] = met_df['rating'].apply(lambda x: x[0])
met_df['delivery_rating'] = met_df['rating'].apply(lambda x: np.nan if (len(x) < 2) else x[1])

In [270]:
met_df['delivery_rating']

0        3.9
1        4.4
2        4.1
3        4.5
4        3.8
        ...
15435    4.0
15436    NaN
15437    NaN
15438    3.7
15439    4.1
Name: delivery_rating, Length: 15440, dtype: object

In [271]:
met_df['dining_rating']

0        4.1
1        4.1
2        4.5
3        4.2
4        4.2
        ...
15435    4.3
15436    3.8
15437    4.4
15438    4.8
15439    4.1
Name: dining_rating, Length: 15440, dtype: object

In [272]:
def sep_review_rating(rr):
    return ([float(idx) for idx in rr.split(',')])

In [273]:
met_df['review_rating'] = met_df['review_rating'].astype(str)

In [274]:
for i in range(0, len(met_df['review_rating'])):
    met_df['review_rating'][i] =  [float(idx) for idx in (met_df['review_rating'][i].split(','))]

C:\Users\mohsh\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [275]:
print(sum(met_df['review_rating'][0])/len(met_df['review_rating'][0]))

3.4

In [276]:
for i in range(0, len(met_df['review_rating'])):
    met_df['review_rating'][i] = (sum(met_df['review_rating'][i])/len(met_df['review_rating'][i]))

C:\Users\mohsh\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [277]:
met_df['review_rating']

0        3.4
1        3.8
2        4.6
3        4.4
4        1.8
        ...
15435    2.6
15436      5
15437      5
15438    4.4
15439    4.6
Name: review_rating, Length: 15440, dtype: object

In [278]:
met_df.head(2)

,address,area,book_table,can_order_via_zomato,cost_for_two,cuisine,delivery_reviews,dining_reviews,discount,featured_in,...,location,min_amnt_for_discount,rating,res_link,rest_name,rest_type,review_rating,reviews,dining_rating,delivery_rating
0,"Near Heera Panna Mall, Link Road, Oshiwara, A...","Oshiwara, Andheri West",0,Yes,600.0,"North Indian,, ,Mughlai,, ,Chinese,, ,Biryani,...",875.0,3524.0,NaN,Value For Money,...,NaN,NaN,"[4.1, 3.9]",https://www.zomato.com/mumbai/cafe-safar-oshiwara,Cafe Safar\n,Casual Dining,3.4,They have a small simple restaurant which I ha...,4.1,3.9
1,"Accord Nidhi, Near Palm Court, Link Road, Mal...",Malad West,0,Yes,300.0,"Mithai,, ,Street Food",9042.0,835.0,NaN,NaN,...,NaN,NaN,"[4.1, 4.4]",https://www.zomato.com/mumbai/bikaji-food-junx...,Bikaji Food Junxon\n ...,Sweet Shop,3.8,NaN,4.1,4.4

In [279]:
drop_list = ['address', 'area', 'cuisine', 'featured_in', 'location', 'min_amnt_for_discount', 'res_link', 'rest_name', 'rating']

In [280]:
met_df.drop(drop_list, axis=1, inplace=True)

In [281]:
met_df.drop(met_df.tail(3).index,inplace=True)

In [282]:
met_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15437 entries, 0 to 15436
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   book_table            15437 non-null  int64
 1   can_order_via_zomato  15437 non-null  object
 2   cost_for_two          15437 non-null  float64
 3   delivery_reviews      9522 non-null   float64
 4   dining_reviews        8303 non-null   float64
 5   discount              2038 non-null   float64
 6   has_menu_available    15437 non-null  int64
 7   rest_type             15437 non-null  object
 8   review_rating         13458 non-null  object
 9   reviews               7304 non-null   object
 10  dining_rating         15437 non-null  object
 11  delivery_rating       5735 non-null   object
dtypes: float64(4), int64(2), object(6)
memory usage: 1.5+ MB

In [283]:
met_df.book_table

0        0
1        0
2        0
3        0
4        0
        ..
15432    0
15433    0
15434    0
15435    0
15436    0
Name: book_table, Length: 15437, dtype: int64

In [284]:
met_df['rest_type']

0        Casual Dining
1           Sweet Shop
2          Quick Bites
3               Bakery
4        Casual Dining
             ...
15432      Quick Bites
15433      Quick Bites
15434       Sweet Shop
15435             Café
15436     North Indian
Name: rest_type, Length: 15437, dtype: object

In [285]:
met_df['review_rating'] = met_df['review_rating'].astype(float)

In [286]:
met_df['dining_rating'] = met_df['dining_rating'].astype(float)

In [287]:
met_df['delivery_rating'] = met_df['delivery_rating'].astype(float)

In [288]:
cat_cols = [col_name for col_name in met_df.columns if met_df[col_name].nunique()>2 and met_df[col_name].dtypes=='object']

In [289]:
categorical_cols = cat_cols[0]

In [290]:
categorical_cols

'rest_type'

In [291]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import LabelEncoder

In [292]:
imputer = SimpleImputer(strategy='mean')

In [293]:
met_df = pd.get_dummies(met_df, columns=['rest_type'])

In [294]:
met_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15437 entries, 0 to 15436
Columns: 105 entries, book_table to rest_type_Wraps
dtypes: float64(7), int64(2), object(2), uint8(94)
memory usage: 2.8+ MB

In [295]:
le = LabelEncoder()

In [296]:
met_df['can_order_via_zomato'] = le.fit_transform(met_df['can_order_via_zomato'])

In [297]:
numerical_cols = [col_name for col_name in met_df.columns if met_df[col_name].dtypes in ['float64', 'int64']]

In [298]:
numerical_cols

['book_table',
 'cost_for_two',
 'delivery_reviews',
 'dining_reviews',
 'discount',
 'has_menu_available',
 'review_rating',
 'dining_rating',
 'delivery_rating']

In [299]:
null_cols = [col_name for col_name in met_df.columns if met_df[col_name].isna().sum()>0 and met_df[col_name].dtypes in ['float64', 'int64']]

In [300]:
null_cols

['delivery_reviews',
 'dining_reviews',
 'discount',
 'review_rating',
 'dining_rating',
 'delivery_rating']

In [301]:
def avg(col):
    return met_df[col].sum()/len(met_df[col])

In [302]:
def isNaN(num):
    return num != num

In [314]:
for col in null_cols:
    average = avg(col)
    for row in range(0, len(met_df[col])-5):
        try:
            if np.isnan(met_df[col][row]) and col != 'discount':
                met_df[col][row] = average
            if np.isnan(met_df[col][row]) and col == 'discount':
                met_df[col][row] = 0
        except ValueError:
            print("Exception",met_df[col][row])

C:\Users\mohsh\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [315]:
print_full(met_df.isna().sum())

book_table                     0
can_order_via_zomato           0
cost_for_two                   0
delivery_reviews               0
dining_reviews                 1
discount                       3
has_menu_available             0
review_rating                  0
reviews                     8133
dining_rating                  0
delivery_rating                1
rest_type_American             0
rest_type_Arabian              0
rest_type_Asian                0
rest_type_Assamese             0
rest_type_Awadhi               0
rest_type_BBQ                  0
rest_type_Bakery               0
rest_type_Bar                  0
rest_type_Bengali              0
rest_type_Beverage Shop        0
rest_type_Beverages            0
rest_type_Bhojanalya           0
rest_type_Bihari               0
rest_type_Biryani              0
rest_type_Burger               0
rest_type_Cafe                 0
rest_type_Café                 0
rest_type_Casual Dining        0
rest_type_Chinese              0
rest_type_Club                 0
rest_type_Cocktail Bar         0
rest_type_Coffee               0
rest_type_Confectionery        0
rest_type_Continental          0
rest_type_Cuisine Varies       0
rest_type_Dessert Parlor       0
rest_type_Desserts             0
rest_type_Dhaba                0
rest_type_Diner                0
rest_type_European             0
rest_type_Fast Food            0
rest_type_Fine Dining          0
rest_type_Food Court           0
rest_type_Food Truck           0
rest_type_Goan                 0
rest_type_Gujarati             0
rest_type_Healthy Food         0
rest_type_Hot dogs             0
rest_type_Hyderabadi           0
rest_type_Ice Cream            0
rest_type_Indonesian           0
rest_type_Irani Cafe           0
rest_type_Iranian              0
rest_type_Italian              0
rest_type_Japanese             0
rest_type_Juices               0
rest_type_Kashmiri             0
rest_type_Kebab                0
rest_type_Kerala               0
rest_type_Kiosk                0
rest_type_Konkan               0
rest_type_Korean               0
rest_type_Lebanese             0
rest_type_Lounge               0
rest_type_Maharashtrian        0
rest_type_Malwani              0
rest_type_Mangalorean          0
rest_type_Meat Shop            0
rest_type_Mediterranean        0
rest_type_Mexican              0
rest_type_Microbrewery         0
rest_type_Middle Eastern       0
rest_type_Mithai               0
rest_type_Modern Indian        0
rest_type_Momos                0
rest_type_Mughlai              0
rest_type_Naga                 0
rest_type_North Eastern        0
rest_type_North Indian         0
rest_type_Odia                 0
rest_type_Paan                 0
rest_type_Paan Shop            0
rest_type_Parsi                0
rest_type_Pizza                0
rest_type_Pub                  0
rest_type_Quick Bites          0
rest_type_Rajasthani           0
rest_type_Raw Meats            0
rest_type_Roast Chicken        0
rest_type_Rolls                0
rest_type_Salad                0
rest_type_Sandwich             0
rest_type_Seafood              0
rest_type_Shack                0
rest_type_Sindhi               0
rest_type_Snack Bar            0
rest_type_South Indian         0
rest_type_Street Food          0
rest_type_Sushi                0
rest_type_Sweet Shop           0
rest_type_Tea                  0
rest_type_Thai                 0
rest_type_Tibetan              0
rest_type_Wraps                0
dtype: int64

# review

In [305]:
#temp = met_df['reviews']

In [306]:
'''from sklearn.feature_extraction.text import TfidfVectorizer
tfv = TfidfVectorizer()
temp = list(tfv.fit_transform(met_df['reviews']).toarray())'''

"from sklearn.feature_extraction.text import TfidfVectorizer\ntfv = TfidfVectorizer()\ntemp = list(tfv.fit_transform(met_df['reviews']).toarray())"

In [307]:
'''from sklearn.feature_extraction.text import CountVectorizer
ctv = CountVectorizer()
temp = ctv.fit_transform(met_df['reviews'])'''

"from sklearn.feature_extraction.text import CountVectorizer\nctv = CountVectorizer()\ntemp = ctv.fit_transform(met_df['reviews'])"

In [308]:
'''temp.toarray()'''

'temp.toarray()'

In [309]:
'''from sklearn.feature_extraction.text import HashingVectorizer
vectorizer = HashingVectorizer(n_features=20)
vector = vectorizer.transform(met_df['reviews'])
print(vector)'''

"from sklearn.feature_extraction.text import HashingVectorizer\nvectorizer = HashingVectorizer(n_features=20)\nvector = vectorizer.transform(met_df['reviews'])\nprint(vector)"

# Modeling

In [319]:
dataset = met_df.drop('reviews', axis=1)

In [320]:
dataset

,book_table,can_order_via_zomato,cost_for_two,delivery_reviews,dining_reviews,discount,has_menu_available,review_rating,dining_rating,delivery_rating,...,rest_type_Sindhi,rest_type_Snack Bar,rest_type_South Indian,rest_type_Street Food,rest_type_Sushi,rest_type_Sweet Shop,rest_type_Tea,rest_type_Thai,rest_type_Tibetan,rest_type_Wraps
0,0,1,600.0,875.0,3524.0,0.0,1,3.4,4.1,3.9,...,0,0,0,0,0,0,0,0,0,0
1,0,1,300.0,9042.0,835.0,0.0,1,3.8,4.1,4.4,...,0,0,0,0,0,1,0,0,0,0
2,0,1,300.0,209.0,4044.0,0.0,1,4.6,4.5,4.1,...,0,0,0,0,0,0,0,0,0,0
3,0,1,900.0,3428.0,419.0,0.0,1,4.4,4.2,4.5,...,0,0,0,0,0,0,0,0,0,0
4,0,0,700.0,8871.0,2717.0,0.0,1,1.8,4.2,3.8,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15432,0,1,900.0,252.0,1933.0,NaN,1,4.6,4.0,3.6,...,0,0,0,0,0,0,0,0,0,0
15433,0,1,700.0,165.0,1126.0,20.0,1,1.4,4.2,3.4,...,0,0,0,0,0,0,0,0,0,0
15434,0,1,200.0,8270.0,481.0,NaN,1,1.8,4.0,3.9,...,0,0,0,0,0,1,0,0,0,0
15435,0,1,600.0,2640.0,1345.0,NaN,1,2.6,4.3,4.0,...,0,0,0,0,0,0,0,0,0,0
15436,0,1,450.0,199.0,NaN,20.0,1,5.0,3.8,NaN,...,0,0,0,0,0,0,0,0,0,0

In [322]:
dataset.dropna(inplace=True)

In [323]:
dataset.to_csv('cleaned_dataset.csv')