In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import re
%matplotlib inline

In [2]:
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

In [3]:
mum_df = pd.read_csv('mumbai.csv')

In [4]:
del_df = pd.read_csv('delhi.csv')

In [5]:
met_df = pd.concat([mum_df, del_df],ignore_index=  True)

In [47]:
met_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15440 entries, 0 to 15439
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   address                15440 non-null  object
 1   area                   15440 non-null  object
 2   book_table             15440 non-null  int64
 3   can_order_via_zomato   15440 non-null  object
 4   cost_for_two           15440 non-null  float64
 5   cuisine                15440 non-null  object
 6   delivery_reviews       9525 non-null   object
 7   dining_reviews         8305 non-null   float64
 8   discount               2039 non-null   float64
 9   featured_in            801 non-null    object
 10  has_menu_available     15440 non-null  int64
 11  location               0 non-null      float64
 12  min_amnt_for_discount  0 non-null      float64
 13  rating                 12093 non-null  object
 14  res_link               15440 non-null  object
 15  rest_name              15440 non-null  object
 16  rest_type              15440 non-null  object
 17  review_rating          13461 non-null  object
 18  reviews                7306 non-null   object
dtypes: float64(5), int64(2), object(12)
memory usage: 2.2+ MB

In [7]:
def clean_cost(cost):
    cost_tem = ''
    tem = re.findall("\\d+", cost)
    return cost_tem.join(tem)

In [8]:
met_df['cost_for_two'] = met_df['cost_for_two'].astype(str)
met_df['cost_for_two'] = met_df['cost_for_two'].apply(lambda x: x.replace(",",""))
met_df['cost_for_two'] = met_df['cost_for_two'].apply(clean_cost)

In [45]:
def toFloat():
    try:
        return float(cost)
    except ValueError:
        return 0

In [46]:
met_df['cost_for_two'] = met_df['cost_for_two'].apply(lambda x: toFloat())

In [48]:
met_df['delivery_reviews'] = met_df['delivery_reviews'].astype(str)
met_df['delivery_reviews'] = met_df['delivery_reviews'].apply(lambda x: x.replace(",", ""))

In [49]:
met_df['delivery_reviews'] = met_df['delivery_reviews'].astype(float)

In [50]:
met_df['rating'] = met_df.loc[:,'rating'].apply(lambda x: str(x).split(","))

In [51]:
met_df['dining_rating'] = met_df['rating'].apply(lambda x: x[0])
met_df['delivery_rating'] = met_df['rating'].apply(lambda x: np.nan if (len(x) < 2) else x[1])

In [52]:
met_df['delivery_rating']

0        3.9
1        4.4
2        4.1
3        4.5
4        3.8
        ...
15435    4.0
15436    NaN
15437    NaN
15438    3.7
15439    4.1
Name: delivery_rating, Length: 15440, dtype: object

In [53]:
met_df['dining_rating']

0        4.1
1        4.1
2        4.5
3        4.2
4        4.2
        ...
15435    4.3
15436    3.8
15437    4.4
15438    4.8
15439    4.1
Name: dining_rating, Length: 15440, dtype: object

In [54]:
def sep_review_rating(rr):
    return ([float(idx) for idx in rr.split(',')])

In [55]:
met_df['review_rating'] = met_df['review_rating'].astype(str)

In [56]:
for i in range(0, len(met_df['review_rating'])):
    met_df['review_rating'][i] =  [float(idx) for idx in (met_df['review_rating'][i].split(','))]

C:\Users\mohsh\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [57]:
print(sum(met_df['review_rating'][0])/len(met_df['review_rating'][0]))

3.4

In [58]:
for i in range(0, len(met_df['review_rating'])):
    met_df['review_rating'][i] = (sum(met_df['review_rating'][i])/len(met_df['review_rating'][i]))

C:\Users\mohsh\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [59]:
met_df['review_rating']

0        3.4
1        3.8
2        4.6
3        4.4
4        1.8
        ...
15435    2.6
15436      5
15437      5
15438    4.4
15439    4.6
Name: review_rating, Length: 15440, dtype: object

In [60]:
met_df.head(2)

,address,area,book_table,can_order_via_zomato,cost_for_two,cuisine,delivery_reviews,dining_reviews,discount,featured_in,...,location,min_amnt_for_discount,rating,res_link,rest_name,rest_type,review_rating,reviews,dining_rating,delivery_rating
0,"Near Heera Panna Mall, Link Road, Oshiwara, A...","Oshiwara, Andheri West",0,Yes,500.0,"North Indian,, ,Mughlai,, ,Chinese,, ,Biryani,...",875.0,3524.0,NaN,Value For Money,...,NaN,NaN,"[4.1, 3.9]",https://www.zomato.com/mumbai/cafe-safar-oshiwara,Cafe Safar\n,Casual Dining,3.4,They have a small simple restaurant which I ha...,4.1,3.9
1,"Accord Nidhi, Near Palm Court, Link Road, Mal...",Malad West,0,Yes,500.0,"Mithai,, ,Street Food",9042.0,835.0,NaN,NaN,...,NaN,NaN,"[4.1, 4.4]",https://www.zomato.com/mumbai/bikaji-food-junx...,Bikaji Food Junxon\n ...,Sweet Shop,3.8,NaN,4.1,4.4

In [61]:
drop_list = ['address', 'area', 'cuisine', 'featured_in', 'location', 'min_amnt_for_discount', 'res_link', 'rest_name', 'rating']

In [62]:
met_df.drop(drop_list, axis=1, inplace=True)

In [63]:
met_df.drop(met_df.tail(3).index,inplace=True)

In [64]:
met_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15437 entries, 0 to 15436
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   book_table            15437 non-null  int64
 1   can_order_via_zomato  15437 non-null  object
 2   cost_for_two          15437 non-null  float64
 3   delivery_reviews      9522 non-null   float64
 4   dining_reviews        8303 non-null   float64
 5   discount              2038 non-null   float64
 6   has_menu_available    15437 non-null  int64
 7   rest_type             15437 non-null  object
 8   review_rating         13458 non-null  object
 9   reviews               7304 non-null   object
 10  dining_rating         15437 non-null  object
 11  delivery_rating       5735 non-null   object
dtypes: float64(4), int64(2), object(6)
memory usage: 1.5+ MB

In [65]:
met_df.book_table

0        0
1        0
2        0
3        0
4        0
        ..
15432    0
15433    0
15434    0
15435    0
15436    0
Name: book_table, Length: 15437, dtype: int64

In [95]:
met_df['rest_type']

KeyError: 'rest_type'

In [67]:
met_df['review_rating'] = met_df['review_rating'].astype(float)

In [68]:
met_df['dining_rating'] = met_df['dining_rating'].astype(float)

In [69]:
met_df['delivery_rating'] = met_df['delivery_rating'].astype(float)

In [70]:
cat_cols = [col_name for col_name in met_df.columns if met_df[col_name].nunique()>2 and met_df[col_name].dtypes=='object']

In [71]:
categorical_cols = cat_cols[1]

In [72]:
categorical_cols

'reviews'

In [73]:
numerical_cols = [col_name for col_name in met_df.columns if met_df[col_name].dtypes in ['float64', 'int64']]

In [74]:
numerical_cols

['book_table',
 'cost_for_two',
 'delivery_reviews',
 'dining_reviews',
 'discount',
 'has_menu_available',
 'review_rating',
 'dining_rating',
 'delivery_rating']

In [75]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import LabelEncoder

In [76]:
imputer = SimpleImputer(strategy='mean')

In [77]:
met_df = pd.get_dummies(met_df, columns=['rest_type'])

In [78]:
met_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15437 entries, 0 to 15436
Columns: 105 entries, book_table to rest_type_Wraps
dtypes: float64(7), int64(2), object(2), uint8(94)
memory usage: 2.8+ MB

In [79]:
le = LabelEncoder()

In [80]:
met_df['can_order_via_zomato'] = le.fit_transform(met_df['can_order_via_zomato'])

In [81]:
numerical_cols = [col_name for col_name in met_df.columns if met_df[col_name].dtypes in ['float64', 'int64']]

In [100]:
numerical_cols

['book_table',
 'cost_for_two',
 'delivery_reviews',
 'dining_reviews',
 'discount',
 'has_menu_available',
 'review_rating',
 'dining_rating',
 'delivery_rating']

In [120]:
def avg(col):
    return sum(met_df[col])/len(met_df[col])

In [136]:
for col in numerical_cols:
    average = avg(col)
    for row in range(0, len(met_df[col])):
        print(met_df.loc[col][0])

KeyError: 'book_table'

In [92]:
met_df

,book_table,can_order_via_zomato,cost_for_two,delivery_reviews,dining_reviews,discount,has_menu_available,review_rating,reviews,dining_rating,...,rest_type_Sindhi,rest_type_Snack Bar,rest_type_South Indian,rest_type_Street Food,rest_type_Sushi,rest_type_Sweet Shop,rest_type_Tea,rest_type_Thai,rest_type_Tibetan,rest_type_Wraps
9,0,1,500.0,6571.0,326.0,15.0,1,4.0,At first I thought this place is only for cake...,3.9,...,0,0,0,0,0,0,0,0,0,0
10,1,1,500.0,988.0,3509.0,15.0,1,4.0,"Perfect place for family outings,I Liked havin...",4.0,...,0,0,0,0,0,0,0,0,0,0
20,0,1,500.0,7564.0,711.0,10.0,1,5.0,"very good cooking,Yummy chicken biryani",4.2,...,0,0,0,0,0,0,0,0,0,0
31,0,1,500.0,217.0,1636.0,10.0,1,4.8,"Chicken frankie are the best heree,Best franki...",4.2,...,0,0,0,0,0,0,0,0,0,0
43,0,1,500.0,4594.0,364.0,10.0,1,3.6,I ordered chicken tikka biryani and it was ama...,3.5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15364,0,1,500.0,820.0,38.0,10.0,1,2.2,Food quality is very bad not tasty. And not p...,3.2,...,0,0,0,0,0,0,0,0,0,0
15369,0,1,500.0,8868.0,790.0,10.0,1,4.0,Ordered egg curry rice bowl with Pepsi (300ml)...,4.3,...,0,0,0,0,0,0,0,0,0,0
15379,0,1,500.0,869.0,255.0,25.0,1,4.8,Ordered Chilli potatoes & momos from oriental ...,4.0,...,0,0,0,0,0,0,0,0,0,0
15394,0,1,500.0,672.0,1364.0,10.0,1,4.4,"Amazing ambience ,Bful place to dine in, thoug...",4.7,...,0,0,0,0,0,0,0,0,0,0
15424,0,0,500.0,1871.0,244.0,15.0,0,5.0,"Hey everyone . ,Recently I've ordered ,•Chicke...",4.1,...,0,0,0,0,0,0,0,0,0,0

In [85]:
met_df.dropna(inplace=True)

In [86]:
(met_df['reviews'][43])

'I ordered chicken tikka biryani and it was amazing ....yummy taste + chicken was fresh and nice,Please only go for tandoori and tawa items, I became adventurous and ordered Chinese a couple of times, disappointed on both occasions..cant make pot rice from triple rice,  got plain rice with zeera flavour as pot rice! Tandoori items are good,Those Chicken Lollipop was really really good in taste.,Majja Aa Gaya jiii,Bad Taste. full of chat masala'

In [87]:
temp = met_df['reviews']

In [88]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfv = TfidfVectorizer()
temp = list(tfv.fit_transform(met_df['reviews']).toarray())

In [89]:
from sklearn.feature_extraction.text import CountVectorizer
ctv = CountVectorizer()
temp = ctv.fit_transform(met_df['reviews'])

In [90]:
temp.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [91]:
'''from sklearn.feature_extraction.text import HashingVectorizer
vectorizer = HashingVectorizer(n_features=20)
vector = vectorizer.transform(met_df['reviews'])
print(vector)'''

"from sklearn.feature_extraction.text import HashingVectorizer\nvectorizer = HashingVectorizer(n_features=20)\nvector = vectorizer.transform(met_df['reviews'])\nprint(vector)"