In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import re
%matplotlib inline

In [2]:
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

In [3]:
mum_df = pd.read_csv('../datasets/mumbai.csv')

In [4]:
del_df = pd.read_csv('../datasets/delhi.csv')

In [5]:
met_df = pd.concat([mum_df, del_df],ignore_index=  True)

In [6]:
met_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15440 entries, 0 to 15439
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   address                15440 non-null  object
 1   area                   15440 non-null  object
 2   book_table             15440 non-null  int64
 3   can_order_via_zomato   15440 non-null  object
 4   cost_for_two           15437 non-null  object
 5   cuisine                15440 non-null  object
 6   delivery_reviews       9525 non-null   object
 7   dining_reviews         8305 non-null   float64
 8   discount               2039 non-null   float64
 9   featured_in            801 non-null    object
 10  has_menu_available     15440 non-null  int64
 11  location               0 non-null      float64
 12  min_amnt_for_discount  0 non-null      float64
 13  rating                 12093 non-null  object
 14  res_link               15440 non-null  object
 15  rest_name              15440 non-null  object
 16  rest_type              15440 non-null  object
 17  review_rating          13461 non-null  object
 18  reviews                7306 non-null   object
dtypes: float64(4), int64(2), object(13)
memory usage: 2.2+ MB

In [7]:
def clean_cost(cost):
    cost_tem = ''
    tem = re.findall("\\d+", cost)
    return cost_tem.join(tem)

In [8]:
met_df['cost_for_two'] = met_df['cost_for_two'].astype(str)
met_df['cost_for_two'] = met_df['cost_for_two'].apply(lambda x: x.replace(",",""))
met_df['cost_for_two'] = met_df['cost_for_two'].apply(clean_cost)

In [9]:
def toFloat(cost):
    try:
        return float(cost)
    except ValueError:
        return 0

In [10]:
met_df['cost_for_two'] = met_df['cost_for_two'].apply(lambda x: toFloat(x))

In [11]:
met_df['delivery_reviews'] = met_df['delivery_reviews'].astype(str)
met_df['delivery_reviews'] = met_df['delivery_reviews'].apply(lambda x: x.replace(",", ""))

In [12]:
met_df['delivery_reviews'] = met_df['delivery_reviews'].astype(float)

In [13]:
met_df['rating'] = met_df.loc[:,'rating'].apply(lambda x: str(x).split(","))

In [14]:
met_df['dining_rating'] = met_df['rating'].apply(lambda x: x[0])
met_df['delivery_rating'] = met_df['rating'].apply(lambda x: np.nan if (len(x) < 2) else x[1])

In [15]:
met_df['delivery_rating']

0        3.9
1        4.4
2        4.1
3        4.5
4        3.8
        ...
15435    4.0
15436    NaN
15437    NaN
15438    3.7
15439    4.1
Name: delivery_rating, Length: 15440, dtype: object

In [16]:
met_df['dining_rating']

0        4.1
1        4.1
2        4.5
3        4.2
4        4.2
        ...
15435    4.3
15436    3.8
15437    4.4
15438    4.8
15439    4.1
Name: dining_rating, Length: 15440, dtype: object

In [17]:
def sep_review_rating(rr):
    return ([float(idx) for idx in rr.split(',')])

In [18]:
met_df['review_rating'] = met_df['review_rating'].astype(str)

In [19]:
for i in range(0, len(met_df['review_rating'])):
    met_df['review_rating'][i] =  [float(idx) for idx in (met_df['review_rating'][i].split(','))]

C:\Users\mohsh\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
print(sum(met_df['review_rating'][0])/len(met_df['review_rating'][0]))

3.4

In [21]:
for i in range(0, len(met_df['review_rating'])):
    met_df['review_rating'][i] = (sum(met_df['review_rating'][i])/len(met_df['review_rating'][i]))

C:\Users\mohsh\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
met_df['review_rating']

0        3.4
1        3.8
2        4.6
3        4.4
4        1.8
        ...
15435    2.6
15436      5
15437      5
15438    4.4
15439    4.6
Name: review_rating, Length: 15440, dtype: object

In [23]:
met_df.head(2)

,address,area,book_table,can_order_via_zomato,cost_for_two,cuisine,delivery_reviews,dining_reviews,discount,featured_in,...,location,min_amnt_for_discount,rating,res_link,rest_name,rest_type,review_rating,reviews,dining_rating,delivery_rating
0,"Near Heera Panna Mall, Link Road, Oshiwara, A...","Oshiwara, Andheri West",0,Yes,600.0,"North Indian,, ,Mughlai,, ,Chinese,, ,Biryani,...",875.0,3524.0,NaN,Value For Money,...,NaN,NaN,"[4.1, 3.9]",https://www.zomato.com/mumbai/cafe-safar-oshiwara,Cafe Safar\n,Casual Dining,3.4,They have a small simple restaurant which I ha...,4.1,3.9
1,"Accord Nidhi, Near Palm Court, Link Road, Mal...",Malad West,0,Yes,300.0,"Mithai,, ,Street Food",9042.0,835.0,NaN,NaN,...,NaN,NaN,"[4.1, 4.4]",https://www.zomato.com/mumbai/bikaji-food-junx...,Bikaji Food Junxon\n ...,Sweet Shop,3.8,NaN,4.1,4.4

In [24]:
drop_list = ['address', 'area', 'cuisine', 'featured_in', 'location', 'min_amnt_for_discount', 'res_link', 'rest_name', 'rating']

In [25]:
met_df.drop(drop_list, axis=1, inplace=True)

In [26]:
met_df.drop(met_df.tail(3).index,inplace=True)

In [27]:
met_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15437 entries, 0 to 15436
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   book_table            15437 non-null  int64
 1   can_order_via_zomato  15437 non-null  object
 2   cost_for_two          15437 non-null  float64
 3   delivery_reviews      9522 non-null   float64
 4   dining_reviews        8303 non-null   float64
 5   discount              2038 non-null   float64
 6   has_menu_available    15437 non-null  int64
 7   rest_type             15437 non-null  object
 8   review_rating         13458 non-null  object
 9   reviews               7304 non-null   object
 10  dining_rating         15437 non-null  object
 11  delivery_rating       5735 non-null   object
dtypes: float64(4), int64(2), object(6)
memory usage: 1.5+ MB

In [28]:
met_df.book_table

0        0
1        0
2        0
3        0
4        0
        ..
15432    0
15433    0
15434    0
15435    0
15436    0
Name: book_table, Length: 15437, dtype: int64

In [29]:
met_df['rest_type']

0        Casual Dining
1           Sweet Shop
2          Quick Bites
3               Bakery
4        Casual Dining
             ...
15432      Quick Bites
15433      Quick Bites
15434       Sweet Shop
15435             Café
15436     North Indian
Name: rest_type, Length: 15437, dtype: object

In [30]:
met_df['review_rating'] = met_df['review_rating'].astype(float)

In [31]:
met_df['dining_rating'] = met_df['dining_rating'].astype(float)

In [32]:
met_df['delivery_rating'] = met_df['delivery_rating'].astype(float)

In [33]:
cat_cols = [col_name for col_name in met_df.columns if met_df[col_name].nunique()>2 and met_df[col_name].dtypes=='object']

In [34]:
categorical_cols = cat_cols[0]

In [35]:
categorical_cols

'rest_type'

In [36]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import LabelEncoder

In [37]:
imputer = SimpleImputer(strategy='mean')

In [38]:
#met_df = pd.get_dummies(met_df, columns=['rest_type'])

In [39]:
met_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15437 entries, 0 to 15436
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   book_table            15437 non-null  int64
 1   can_order_via_zomato  15437 non-null  object
 2   cost_for_two          15437 non-null  float64
 3   delivery_reviews      9522 non-null   float64
 4   dining_reviews        8303 non-null   float64
 5   discount              2038 non-null   float64
 6   has_menu_available    15437 non-null  int64
 7   rest_type             15437 non-null  object
 8   review_rating         13458 non-null  float64
 9   reviews               7304 non-null   object
 10  dining_rating         12090 non-null  float64
 11  delivery_rating       5735 non-null   float64
dtypes: float64(7), int64(2), object(3)
memory usage: 1.5+ MB

In [40]:
le = LabelEncoder()

In [41]:
met_df['can_order_via_zomato'] = le.fit_transform(met_df['can_order_via_zomato'])

In [42]:
numerical_cols = [col_name for col_name in met_df.columns if met_df[col_name].dtypes in ['float64', 'int64']]

In [43]:
numerical_cols

['book_table',
 'cost_for_two',
 'delivery_reviews',
 'dining_reviews',
 'discount',
 'has_menu_available',
 'review_rating',
 'dining_rating',
 'delivery_rating']

In [44]:
null_cols = [col_name for col_name in met_df.columns if met_df[col_name].isna().sum()>0 and met_df[col_name].dtypes in ['float64', 'int64']]

In [45]:
null_cols

['delivery_reviews',
 'dining_reviews',
 'discount',
 'review_rating',
 'dining_rating',
 'delivery_rating']

In [46]:
def avg(col):
    return met_df[col].sum()/len(met_df[col])

In [47]:
def isNaN(num):
    return num != num

In [48]:
for col in null_cols:
    average = avg(col)
    for row in range(0, len(met_df[col])-5):
        try:
            if np.isnan(met_df[col][row]) and col != 'discount':
                met_df[col][row] = average
            if np.isnan(met_df[col][row]) and col == 'discount':
                met_df[col][row] = 0
        except ValueError:
            print("Exception",met_df[col][row])

C:\Users\mohsh\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\mohsh\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [49]:
print_full(met_df.isna().sum())

book_table                 0
can_order_via_zomato       0
cost_for_two               0
delivery_reviews           0
dining_reviews             1
discount                   3
has_menu_available         0
rest_type                  0
review_rating              0
reviews                 8133
dining_rating              0
delivery_rating            1
dtype: int64

# review

In [ ]:
#temp = met_df['reviews']

In [ ]:
'''from sklearn.feature_extraction.text import TfidfVectorizer
tfv = TfidfVectorizer()
temp = list(tfv.fit_transform(met_df['reviews']).toarray())'''

In [ ]:
'''from sklearn.feature_extraction.text import CountVectorizer
ctv = CountVectorizer()
temp = ctv.fit_transform(met_df['reviews'])'''

In [ ]:
'''temp.toarray()'''

In [ ]:
'''from sklearn.feature_extraction.text import HashingVectorizer
vectorizer = HashingVectorizer(n_features=20)
vector = vectorizer.transform(met_df['reviews'])
print(vector)'''

# Modeling

In [50]:
dataset = met_df.drop('reviews', axis=1)

In [53]:
dataset

,book_table,can_order_via_zomato,cost_for_two,delivery_reviews,dining_reviews,discount,has_menu_available,rest_type,review_rating,dining_rating,delivery_rating
0,0,1,600.0,875.0,3524.000000,0.0,1,Casual Dining,3.4,4.1,3.900000
1,0,1,300.0,9042.0,835.000000,0.0,1,Sweet Shop,3.8,4.1,4.400000
2,0,1,300.0,209.0,4044.000000,0.0,1,Quick Bites,4.6,4.5,4.100000
3,0,1,900.0,3428.0,419.000000,0.0,1,Bakery,4.4,4.2,4.500000
4,0,0,700.0,8871.0,2717.000000,0.0,1,Casual Dining,1.8,4.2,3.800000
...,...,...,...,...,...,...,...,...,...,...,...
15428,0,1,600.0,2231.0,147.012891,10.0,1,North Indian,5.0,3.2,1.365971
15429,0,1,600.0,1736.0,230.000000,0.0,1,Quick Bites,5.0,4.2,3.700000
15430,0,1,400.0,701.0,147.012891,20.0,1,Bakery,4.6,3.7,1.365971
15431,0,0,600.0,613.0,147.012891,0.0,1,North Indian,5.0,3.3,1.365971
15433,0,1,700.0,165.0,1126.000000,20.0,1,Quick Bites,1.4,4.2,3.400000

In [52]:
dataset.dropna(inplace=True)

In [57]:
dataset.to_csv('cleaned_dataset.csv')

In [56]:
dataset['rest_type'].unique()

array(['Casual Dining', 'Sweet Shop', 'Quick Bites', 'Bakery',
       'Dessert Parlor', 'Bar', 'Beverage Shop', 'South Indian',
       'Chinese', 'Fast Food', 'Rolls', 'Café', 'Pizza', 'Fine Dining',
       'Biryani', 'Asian', 'Momos', 'Pub', 'Healthy Food', 'North Indian',
       'Club', 'Kiosk', 'Bengali', 'Dhaba', 'Korean', 'Lounge',
       'Sandwich', 'Tea', 'Lebanese', 'Food Truck', 'American', 'Mexican',
       'Street Food', 'Raw Meats', 'Food Court', 'Kebab', 'Mughlai',
       'Burger', 'Continental', 'Arabian', 'Irani Cafe', 'Bihari',
       'Ice Cream', 'Roast Chicken', 'Maharashtrian', 'Confectionery',
       'Japanese', 'Italian', 'Desserts', 'Mithai', 'Seafood',
       'Beverages', 'Paan Shop', 'Mangalorean', 'Malwani', 'Kerala',
       'Salad', 'Konkan', 'Tibetan', 'Thai', 'Juices', 'Wraps', 'Sindhi',
       'Sushi', 'Cuisine Varies', 'Shack', 'Bhojanalya', 'Awadhi', 'Paan',
       'Indonesian', 'Hyderabadi', 'BBQ', 'Gujarati', 'Mediterranean',
       'Parsi', 'Rajasthani', 'Iranian', 'North Eastern', 'Kashmiri',
       'Modern Indian', 'Odia', 'Goan', 'Hot dogs', 'Coffee',
       'Microbrewery', 'Meat Shop', 'Cafe', 'Cocktail Bar', 'Naga',
       'Middle Eastern', 'Diner', 'European', 'Snack Bar', 'Assamese'],
      dtype=object)